<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h3>User Details</h3>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> <%= @user.email.split('@')[0] %></p>
          <p><strong>Role:</strong> <%= @user.role %></p>
          <p><strong>Company:</strong> <%= @user.company.name %></p>
          <p><strong>Signed Up:</strong> <%= @user.created_at.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>Last Profile Edit:</strong> <%= @user.updated_at.strftime("%B %d, %Y %H:%M") %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
            <% if @user.id == current_user.id %>
              <%= button_to "Add Customer", new_customer_path, method: :get, class: "btn btn-primary me-md-2", params: { user_id: @user.id, company_id: @user.company_id } %>
            <% end %>
            <%= button_to "All Customers", customers_path, method: :get, class: "btn btn-secondary", params: { user_id: @user.id } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
