<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Customers</h2>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th>Name </th>
                <th>Contact </th>
                <th>Address </th>
                <th>Links</th>
                <th class="text-end">Joined </th>
              </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer.name %></td>
                  <td><%= customer.phone %></td>
                  <td><%= customer.address %></td>
                  <td>
                    <div class="d-flex">
                      <%= button_to "Show", customer_path(customer), method: :get, class: "btn btn-info me-1", params: { user_id: @user.id } %>
                      <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-primary me-1" %>
                      <%= button_to "Delete", customer_path(customer), method: :delete, class: "btn btn-danger", params: { user_id: @user.id } %>
                    </div>
                  </td>

                  <td class="text-end"><%= customer.created_at.strftime("%B %d, %Y %H:%M") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
        <% if current_user.id == @user.id %>
            <%= button_to "Add Customer", new_customer_path, method: :get, class: "btn btn-primary", params:  {user_id: @user.id, company_id: @user.company_id } %>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
